<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Service Provider</title>
    <link rel="stylesheet" href="/ServiceProvider/App/View/css/style.css" />
</head>
<body class="bg-gray-100 font-sans text-gray-900">

    <nav class="bg-blue-600 p-4">
      <ul class="flex justify-center space-x-8">
        <li><a href="../LoginController/login" class="text-white hover:text-yellow-400 transition duration-300">Sign In</a></li>
        <li><a href="../UserController/register" class="text-white hover:text-yellow-400 transition duration-300">Register</a></li>
        <li><a href="../ContactController/contact" class="text-white hover:text-yellow-400 transition duration-300">Contact Us</a></li>
      </ul>
    </nav>
    <h1 class="text-4xl text-center font-extrabold text-gray-800 mt-16">
      Welcome to our Health Service Provider Page
    </h1>

  </body>
</html>