<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Service Provider</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body class="body">
    <nav class="top-nav">
        <ul>
            <li><a href="../AuthController/login">Sign In</a></li>
            <li><a href="../UserController/register">Register</a></li>
            <li><a href="../ContactController/contact">Contact Us</a></li>
        </ul>
    </nav>

    <h1 class="heading-1">Welcome to our Health Service Provider Page</h1>

</body>
</html>
